/* html, body{
    height: 100%;
    width: 100%;
} */

body{
    background-color: #212121;   
   
}
h2{
    color: white;
    
}
div{
    border-radius: 10px;
    border-color: white;
    box-sizing: border-box;
    border-style: initial;
    align-items: center;
   margin: 10% 2px;
   text-align: center
    
}
button{
    font-size: 15px;
}